@use '../abstract/variaveis';
@use '../abstract/mixins';

footer {
    @include mixins.ff-fs-color(variaveis.$fonte-textos, 1rem, variaveis.$cor-primaria);
    background: variaveis.$degrade-primario;
    margin-top: 5rem;
    padding: 2rem;
    text-align: center;
}