
/*Cores*/
$degrade-primario: linear-gradient(180deg, #E8F5C8 0%, #FFFFFF 96.87%);
$degrade-secundario: linear-gradient(180deg, #ffffffb3 0%, #cad4fa4d 100%);
$cor-primaria: #0C0421;
$cor-secundaria: #4E75FF;
$cor-terciaria: #85A0FF;
$cor-quartenaria: #E8F5C8;
$cor-padrao: #CAD4FA;
/* Fontes */
$fonte-titulos: 'Krona One', sans-serif;
$fonte-textos: 'Montserrat', sans-serif;

